@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .button {
    @apply border-2 border-b-[4px] border-[#5F4E3C] bg-[#EDDDBA] text-[#5F4E3C] font-semibold text-xl py-3 px-7 hover:border-b-[3px] hover:border-[3px] disabled:opacity-20 disabled:cursor-not-allowed;
  }
  .card {
    @apply py-8 px-10 bg-[#FFF] w-full flex flex-col justify-center;
  }
  .input {
    @apply h-12 rounded-none w-full flex items-center appearance-none py-1 px-5 border border-[#D9D9D9] bg-[rgba(255,_255,_255,_0.67)];
  }
  .label {
    @apply text-[#000] text-lg font-normal;
  }
  .textarea {
    @apply h-[165px] rounded-none w-full flex items-center appearance-none py-4 px-5 border border-[#D9D9D9] bg-[rgba(255,_255,_255,_0.67)] resize-none;
  }
}
